.cards-container{
    height: inherit;
    background-color: black;
}
.cardCover{
    height: 30vh;
}
.linklink{
    color: red;
}
.cardStyle{
    width: 500px;
    color: blue
    ;
}
@media screen and (max-width: 600px)  {
    .cardCover{
        height: 10vh;
    }
}